.trxn-content {
    
    width: 87.6vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    text-align: start;
}

.list-container {
    width: 50%;

}

.trxn-header {
    width: 76%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-inline: 30px;
    padding-inline: 30px;
    text-align: start;
}



